.confirmarSeguro {
  background-color: #0e8e1f;
  font-size: x-large;
  color: #fff;
  border-radius: 10px;
}

.loader {
    border: 4px solid #71f078;
    border-top: 6px solid #0e8e1f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hidden {
    display: none;
  }

  .resultfinal {
    margin: 0 auto;
    max-width: 30%;
    display: none;
    font-size: xx-large;
    background-color: #0e8e1f;
    color: #fff;
    border-radius: 10px;
  }

  #listas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    flex-wrap: wrap;
    gap: 20px;
    article{
      margin: 0 auto;
      max-width: 30%;
      font-size: xx-large;
      background-color: #0e8e1f;
      color: #fff;
      border-radius: 10px;

      ul {
        list-style: none;
      }
      button {
        border-radius: 10px;
      }
    }  

  }