* {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {

  margin-top: 30px;
  text-align: center;
  margin: 0 auto;
  font-size: xx-large;
  font-style: italic;

  max-width: 70%;
  padding-block: 10px;
}

section {

  margin-block: 30px;

}

h3 {
  margin-top: 30px;
  font-size: larger;
  color: #21b00b;
  border-top: 8px solid #21b00b;
  max-width: 50%;
  margin: 0 auto;
  padding-block: 30px;
}

button {
  margin: 5px;

  background-color: #fff;
  cursor: pointer;
  border: 5px solid transparent;
  :hover {
      border: 5px solid #319515;
      border-radius: 10px;
  }
  :active {
    border: 5px solid #319515;
    border-radius: 10px;
    box-shadow: #96f387;
  }
}